body {
    font-family: "Segoe UI";
    text-align: center;
    background-color: #f8e5c8;
}

#box {
    background-color: #cfc ;
    padding: 100px;
    margin-left: 6%;
    box-shadow: 2px 2px;
    border-radius: 15px;
    float: left;
}